@font-face{
    font-family:"AvenirNextLTW01-Regular";
    src:url("url('../../../../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
    src:url("url('../../../../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("url('../../../../fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),url("url('../../../../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("url('../../../../fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),url("url('../../../../fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
}

@font-face{
    font-family:"Avenir Next LT W01 Bold";
    src:url("url('../../../../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
    src:url("url('../../../../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"),url("url('../../../../fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),url("url('../../../../fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),url("url('../../../../fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"),url("url('../../../../fonts/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg");
}