// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-mint: #36d4bd;
$color-gray: #808080;
$color-lightgray: #e6e6e6;

// Fonts
$font-sans-regular: 'AvenirNextLTW01-Regular';
$font-sans-bold: 'Avenir Next LT W01 Bold';